aiohttp==3.9.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
audlib==0.0.3.5
cffi==1.16.0
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
fonttools==4.52.4
frozenlist==1.4.1
importlib_resources==6.4.0
iteration-utilities==0.11.0
joblib==1.2.0
kiwisolver==1.4.5
lightning-utilities==0.11.2
llvmlite==0.42.0
matplotlib==3.7.5
multidict==6.0.5
numba==0.59.1
numpy==1.24.4
packaging==24.0
pandas==2.2.2
pycparser==2.22
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytorch-lightning==2.0.4
pytz==2024.1
resampy==0.4.3
river==0.21.0
scikit-activeml==0.4.1
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
soundfile==0.12.1
threadpoolctl==3.5.0
torch==2.3.0
torchaudio==2.3.0
torchmetrics==0.11.4
torchvision==0.18.0
tqdm==4.66.4
triton==2.3.0
tzdata==2024.1
yarl==1.9.4
zipp==3.19.0
